annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
apsw==3.53.2.0
apswutils==0.1.2
beartype==0.22.9
beautifulsoup4==4.15.0
blis==1.3.3
catalogue==2.0.10
certifi==2026.5.20
charset-normalizer==3.4.7
click==8.4.1
cloudpathlib==0.24.0
cloudpickle==3.1.2
confection==1.3.3
contourpy==1.3.3
cycler==0.12.1
cymem==2.0.13
docopt-ng==0.9.0
durationpy==0.10
fastai==2.8.7
fastcore==1.13.3
fastdownload==0.0.7
fastlite==0.2.4
fastprogress==1.1.6
fasttransform==0.0.2
filelock==3.29.3
fonttools==4.63.0
fsspec==2026.4.0
h11==0.16.0
httpcore==1.0.9
httptools==0.8.0
httpx==0.28.1
idna==3.18
imbalanced-learn==0.14.2
itsdangerous==2.2.0
Jinja2==3.1.6
joblib==1.5.3
kiwisolver==1.5.0
kubernetes==35.0.0
llvmlite==0.47.0
markdown-it-py==4.2.0
MarkupSafe==3.0.3
matplotlib==3.11.0
mdurl==0.1.2
mpmath==1.3.0
murmurhash==1.0.15
networkx==3.6.1
numba==0.65.1
numpy==2.4.6
nvidia-nccl-cu12==2.30.7
oauthlib==3.3.1
packaging==26.2
pandas==3.0.3
pillow==12.2.0
plum-dispatch==2.9.0
preshed==3.0.13
psutil==7.2.2
pyarrow==24.0.0
pydantic==2.13.4
pydantic_core==2.46.4
Pygments==2.20.0
pyparsing==3.3.2
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
python-fasthtml==0.14.2
python-multipart==0.0.32
pyts==0.13.0
PyYAML==6.0.3
requests==2.34.2
requests-oauthlib==2.0.0
rich==15.0.0
scikit-learn==1.7.2
scipy==1.17.1
setuptools==81.0.0
shellingham==1.5.4
six==1.17.0
sklearn-compat==0.1.6
smart_open==7.6.1
soupsieve==2.8.4
spacy==3.8.14
spacy-legacy==3.0.12
spacy-loggers==1.0.5
srsly==2.5.3
starlette==1.3.1
stomp.py==9.0.0
swchmonclient==0.2.0
sympy==1.14.0
thinc==8.3.13
threadpoolctl==3.6.0
torch==2.12.0+cpu
torchaudio==2.11.0+cpu
torchvision==0.27.0+cpu
tqdm==4.68.2
tsai==1.0.1
typer==0.26.7
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.7.0
uvicorn==0.49.0
uvloop==0.22.1
wasabi==1.1.3
watchfiles==1.2.0
weasel==1.0.0
websocket-client==1.9.0
websockets==16.0
wrapt==2.2.1
xgboost==3.2.0
